.carousel {
  height: 400px;
  margin-top: 40px;
  position: relative;
  &__slider-prev {
    position: absolute;
    top: 50%;
    left: 0;
  }
  &__slider-next {
    position: absolute;
    top: 50%;
    right: 0;
  }
  &__wrapper {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    img {
      width: 100%;
      transition: 1s all;
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
      
@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}